<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">{{ page.title }}</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="javascript:void(0);">Sass</a></li>
            <li><a href="javascript:void(0);">Components</a></li>
            <li><a href="javascript:void(0);">JavaScript</a></li>
        </ul>
    </div>
</nav>
{{ content }}
</body>
</html>